* {
  padding: 0;
  margin: 0;
}

body {
  background: #b97375;
  text-align: center;
}

main h1 {
    margin-top: 2vmin;
    color: #2d2d34;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  background: #ceb1be;
  box-shadow: 0 0 16pc rgba(0, 0, 0, 0.1);
  font-size: 8vmin;
  color: #2d2d34;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background: #e2dcde;
  color: #2d2d34;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background: #e2dcde;
  color: #2d2d34;
  border-radius: 1rem;
  border: none;
}

#msg {
    color: #2d2d34;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

.x {
    color: #e2dcde;
}

.o {
    color: #2d2d34;
}